
.image-slider-wrapper{
    position:relative;
    overflow: hidden;
    margin: 0 auto;
}
#image_slider{
    position: absolute;
    overflow: hidden;
    height: 100%;
    padding:0;
    margin: 0;
}
#image_slider li{
    position:relative;
    max-width: 100%;
    float:left;
    list-style: none;
    left: 0;
}

.nav_box{
    position: relative;
    height: 100%;
}
.nvgt{
    height: 100%;
    width: 30px;
    opacity: 0.1;
    cursor: pointer;
}
.nvgt:hover{
    opacity: 0.2;
}
#prev{
    background: #000 url('images/left.png') no-repeat center;
    float: left;
}
#next{
    background: #000 url('images/right.png') no-repeat center;
    float: right;
}
<<<<<<< HEAD:slider_style.css
ul#pages{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}
li.page{
    display: inline-block;
    height: 10px;
    width: 10px;
    list-style: none;
    border: 1px solid #333;
    border-radius: 10px;
    opacity: 0.5;
    margin-left: 10px;
}
li.page:first-child{margin-left: 0;background-color: #333;
}
li.page:hover{
    opacity: 0.9;
}
=======
>>>>>>> 429e8f54447671ff5d989c249223c4c135da2f59:style/style.css
